html, body{
    padding: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td, th{
    padding: 20px;
    border: solid 1px black;
}

th{
    font-family:'Patua One', cursive;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color:blueviolet;
    text-align: center;
}

td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
    border-bottom: solid 1px #e0e0e0;
    text-align: center;
}
.hover{
    background: black;
}